body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Created with https://www.css-gradient.com */
  background: #362dba;
  background: -webkit-radial-gradient(top left, #362dba, #622cb0);
  background: -moz-radial-gradient(top left, #362dba, #622cb0);
  background: radial-gradient(to bottom right, #362dba, #622cb0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
